body {
  background-color: rgb(179, 198, 231);
  
}

.header {
  height: 5vh;
  background-color:aliceblue;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.main {
  height: 90vh;
  display: flex;
  justify-content: space-around;
}

.menMap{
  box-sizing: border-box 2px black;
  height: 20vh;
}

.footer {
  height: 5vh;
  background-color: aliceblue;
  padding-left: 50vw;
  
}